<?xml version="1.0" encoding="UTF-8" ?>  
<!DOCTYPE mapper PUBLIC   
    "-//mybatis.org//DTD Mapper 3.0//EN"  
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">



<mapper namespace="com.mapper.TestMapper">

	<resultMap id="result-test-map" type="Test">
		<id property="tid" column="tid" />
		<result property="type" column="type" />
		<result property="title" column="title" />
		<result property="factor" column="factor" />
		<result property="score" column="score" />
		<result property="photo" column="photo" />
		<result property="answer" column="answer" />
		<result property="expl" column="expl" />
		
		<!-- <association property="point" column="kpid" javaType="Point">
			<result property="kpid" column="kpid" />
			<result property="pointNo" column="pointNo" />
			<result property="pointName" column="pointName" />
		</association> -->
		
		<association property="section" column="sid" javaType="Section">
			<result property="sid" column="sid" />
			<result property="sectionNo" column="sectionNo" />
			<result property="sectionName" column="sectionName" />
		</association>
		
		<association property="chapter" column="cid" javaType="Chapter">
			<result property="cid" column="cid" />
			<result property="chapterNo" column="chapterNo" />
			<result property="chapterName" column="chapterName" />
		</association>
	</resultMap>



	<select id="selCount" parameterType="Map" resultType="Integer">
		select count(*) num from testinfo t
		inner join section s on t.sid=s.sid
		inner join chapter c on c.cid=s.cid
		<where>
			<if test="chapterNo!=null and chapterNo!=''">and c.chapterNo=#{chapterNo}</if>
			<if test="sectionNo!=null and sectionNo!=''">and s.sectionNo=#{sectionNo}</if> 
		<!-- 	<if test="pointName!=null and pointName!=''">and p.pointName like CONCAT('%',#{pointName},'%')</if> -->
			<if test="title!=null and title!=''">and t.title like CONCAT('%',#{title},'%')</if>
		</where>
	</select>
	 <select id="selList" parameterType="Map" resultMap="result-test-map">
		select  t.*,s.sectionNo,s.sectionName,s.cid,c.chapterNo,c.chapterName
		from testinfo t
		inner join section s on t.sid=s.sid
		inner join chapter c on c.cid=s.cid
		<where>
			<if test="chapterNo!=null and chapterNo!=''">and c.chapterNo=#{chapterNo}</if>
			<if test="sectionNo!=null and sectionNo!=''">and s.sectionNo=#{sectionNo}</if> 
			<!-- <if test="pointName!=null and pointName!=''">and p.pointName like CONCAT('%',#{pointName},'%')</if> -->
			<if test="title!=null and title!=''">and t.title like CONCAT('%',#{title},'%')</if>
		</where>
	</select>


	<select id="addtest" parameterType="Test">
		insert into testInfo
		(sid,type,title,factor,score,photo,answer,expl)
		values(#{sid},#{type},#{title},#{factor},#{score},#{photo},#{answer},#{expl})
	</select>


 
	<select id="selOne" parameterType="Integer" resultMap="result-test-map">
		select  t.*,s.sectionNo,s.sectionName,s.cid,c.chapterNo,c.chapterName
		from testinfo t
		inner join section s on t.sid=s.sid
		inner join chapter c on c.cid=s.cid
		where tid=#{tid}
	</select>


	<select id="updateTest" parameterType="Test">
		update testInfo set
		sid=#{sid},type=#{type},title=#{title},factor=#{factor},score=#{score},photo=#{photo},answer=#{answer},expl=#{expl}
		 where
		tid=#{tid}
	</select>

	<select id="del" parameterType="Integer">
		delete from testInfo where
		tid=#{tid}
	</select> 

   <select id="countAllScore" resultType="Integer">
		select  sum(score) from testInfo
	</select> 
	 <select id="Easynum"  parameterType="String" resultType="Integer">
		select count(*) from testInfo where factor=#{string}
	</select> 
	 <select id="easyscore"  parameterType="String" resultType="Double">
		select sum(score) from testInfo where factor=#{string}
	</select> 
	 <select id="mediumnum"  parameterType="String" resultType="Integer">
		select count(*) from testInfo where factor=#{string}
	</select> 
	 <select id="mediumscore"  parameterType="String" resultType="Double">
		select sum(score) from testInfo where factor=#{string}
	</select> 
	 <select id="hardnum"  parameterType="String" resultType="Integer">
		select count(*) from testInfo where factor=#{string}
	</select> 
	 <select id="hardscore"  parameterType="String" resultType="Double">
	    select sum(score) from testInfo where factor=#{string}
	</select> 
	
	 <select id="selectnum"  parameterType="String" resultType="Integer">
		select count(*) from testInfo where type=#{string}
	</select> 
    <select id="selectsocre"  parameterType="String" resultType="Double">
	    select sum(score) from testInfo where type=#{string}
	</select> 

	<select id="tknum"  parameterType="String" resultType="Integer">
		select count(*) from testInfo where type=#{string}
	</select> 
    <select id="tkscore"  parameterType="String" resultType="Double">
	    select sum(score) from testInfo where type=#{string}
	</select>
	
	<select id="pdnum"  parameterType="String" resultType="Integer">
		select count(*) from testInfo where type=#{string}
	</select> 
    <select id="pdsocre"  parameterType="String" resultType="Double">
	    select sum(score) from testInfo where type=#{string}
	</select>
	
	<select id="jdnum"  parameterType="String" resultType="Integer">
		select count(*) from testInfo where type=#{string}
	</select> 
    <select id="jdsocre"  parameterType="String" resultType="Double">
	    select sum(score) from testInfo where type=#{string}
	</select>
	
	<select id="bcnum"  parameterType="String" resultType="Integer">
		select count(*) from testInfo where type=#{string}
	</select> 
    <select id="bcsocre"  parameterType="String" resultType="Double">
	    select sum(score) from testInfo where type=#{string}
	</select>

	<!-- 随机抽取20道选择题 -->
    <select id="getSelect" resultMap="result-test-map">
	   select t.tid,t.sid,t.type,t.title,t.factor,t.score,t.photo,t.answer,t.expl,c.chapterNo,c.chapterName,s.sectionNo,s.sectionName 
       from testinfo t
       inner join section s on s.sid=t.sid
		inner join chapter c on c.cid=s.cid
		where  type='1'
		and c.chapterNo in
		<foreach collection="list" item="item" index="index"
            open="(" close=")" separator=",">
            #{item}
        </foreach>
        ORDER BY RAND()  LIMIT 20
	</select>
	
	<!-- 随机抽取10道填空题 -->
    <select id="getBlank" resultMap="result-test-map">
	   select t.tid,t.sid,t.type,t.title,t.factor,t.score,t.photo,t.answer,t.expl,c.chapterNo,c.chapterName,s.sectionNo,s.sectionName 
       from testinfo t
       inner join section s on s.sid=t.sid
		inner join chapter c on c.cid=s.cid
		where  type='2'
		and c.chapterNo in
		<foreach collection="list" item="item" index="index"
            open="(" close=")" separator=",">
            #{item}
        </foreach>
        ORDER BY RAND()  LIMIT 10
	</select>
	<!-- 随机抽取10道判断题 -->
    <select id="getJudge" resultMap="result-test-map">
	   select t.tid,t.sid,t.type,t.title,t.factor,t.score,t.photo,t.answer,t.expl,c.chapterNo,c.chapterName,s.sectionNo,s.sectionName 
       from testinfo t
       inner join section s on s.sid=t.sid
		inner join chapter c on c.cid=s.cid
		where  type='3'
		and c.chapterNo in
		<foreach collection="list" item="item" index="index"
            open="(" close=")" separator=",">
            #{item}
        </foreach>
        ORDER BY RAND()  LIMIT 10
	</select>
	<!-- 随机抽取4道简答题 -->
    <select id="getShortQ" resultMap="result-test-map">
	   select t.tid,t.sid,t.type,t.title,t.factor,t.score,t.photo,t.answer,t.expl,c.chapterNo,c.chapterName,s.sectionNo,s.sectionName 
       from testinfo t
       inner join section s on s.sid=t.sid
		inner join chapter c on c.cid=s.cid
		where  type='4'
		and c.chapterNo in
		<foreach collection="list" item="item" index="index"
            open="(" close=")" separator=",">
            #{item}
        </foreach>
        ORDER BY RAND()  LIMIT 4
	</select>
	<!-- 随机抽取1道编程题 -->
    <select id="getCodeQ" resultMap="result-test-map">
	   select t.tid,t.sid,t.type,t.title,t.factor,t.score,t.photo,t.answer,t.expl,c.chapterNo,c.chapterName,s.sectionNo,s.sectionName 
       from testinfo t
       inner join section s on s.sid=t.sid
		inner join chapter c on c.cid=s.cid
		where  type='5'
		and c.chapterNo in
		<foreach collection="list" item="item" index="index"
            open="(" close=")" separator=",">
            #{item}
        </foreach>
        ORDER BY RAND()  LIMIT 1
	</select>
	
	<select id="getSectionfordel" parameterType="Integer" resultType="Integer">
		select count(*) from testInfo t 
         INNER JOIN section s ON s.sid=t.sid
          where s.sid=#{sid}
	</select>
</mapper>
